{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 current-chat">
            <h4>Комната: #{{ room.name }}</h4>
            <hr>

            <div class="row current-chat-area">
                <div class="col-md-12">
                    <ul class="media-list" id="messages">
                    </ul>  
                </div>
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <form class="input-group" id="send">
                        <input type="text" class="form-control" name="text">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                        </span>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">var WS_URL = "{{ app.router['ws'].url_for(slug=room.name) }}";</script>
    <script src="/static/chat.js"></script>
{% endblock %}
