{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Как использовать чат?</h1>

    <ul class="lead">
        <li>Cоздайте <a href="{{ app.router['register'].url_for() }}">нового пользователя</a>
        </li>
        <li>Вы можете подсоединиться к комнате по её имени, либо создать <a href="{{ app.router['create_room'].url_for() }}">новую</a></li>
        <li>В комнате могуть быть только два человека</li>
        <li>Все сообщения перенаправляются только на двух участников, без записи на сервере</li>
        <li>Чтобы выйти из комнаты, напишите <code>/close</code></li>
    </ul>
</div>

{% endblock %}
